body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 1em;;
    grid-template-areas: 
        "box-1 box-2 box-2 box-3"
        "box-1 box-4 box-5 box-5";
}

.box {
    background-color: #710627;
    color: black;
    border-radius: 10px;
}

@media (max-width: 56em) {
    .grid-container {
        grid-template-columns: 200px 200px;
        grid-template-rows: repeat(4, 200px);
        grid-template-areas:
            "box-1 box-1"
            "box-1 box-1"
            "box-2 box-3"
            "box-4 box-5";
    }
}

@media(max-width: 40em) {
    .grid-container {
        grid-template-columns: 90vw;
        grid-template-rows: 200px 200px 200px 200px 200px;
        grid-template-areas:
            "box-1"
            "box-2"
            "box-3"
            "box-4"
            "box-5";
    }
}